/*Stylesheet for all pages in final projects website: HAT SWAG*/


/*NAV BAR on all pages*/


/*changed the font for the navigation bar*/

#homePage, #models, #order {
  font-family: 'Amatic SC', cursive;
  font-size: 200%;
}

/*coloured the title white*/

#main-title {
  color: white;
}

/*HOME PAGE*/


/*added to the design of the heading*/

#hat-swag {
  font-family: 'Roboto';
  font-size: 30px;
  text-align: center;
  text-decoration: overline;
  background-color: black;
  color: white;
  padding-top: 7px;
}

/*made the carousel caption entirely visible*/

.carousel-caption {
  font-size: 2px;
}

/*background colour and border colour and shape*/

.carousel {
  background: #123123;
  margin-top: 5px;
  border: solid black 10px;
}

/*image placement*/

.carousel .item img {
  margin: 0 auto;
  /* Align slide image horizontally center */
  max-height: 400px;
}

/*adjustment*/

.bs-example {
  margin: 20px;
}

/*carousel caption's size and style*/

h1 {
  text-shadow: 20px;
  font-size: 2700%;
  text-transform: uppercase;
  margin-top: 10%;
  text-align: center;
  margin-bottom: 20%;
}

/*MODELS PAGE*/


/*making the 3 titles bigger*/

.type {
  padding-top: 20px;
  font-size: 200%;
  text-transform: uppercase;
  text-align: center;
}

/*justified, lighten and placed description*/

.colour {
  padding: 10px 40px 10px 20px;
  text-align: justify;
  font-weight: lighter;
}

/*making the word cursive and purple*/

.style {
  font-family: cursive;
  font-size: 150%;
  color: purple;
}

/*made the username in the reviews section bold and gave it room*/

.buyerName {
  font-weight: bold;
  font-size: 15px;
  text-decoration: underline;
  color: #033500;
  padding-top: 7px;
}

/*made their comment italic*/

.buyerComment {
  font-style: italic;
}

/*making the full hearts the perfect size beside the empties*/

.fullheart {
  height: 26px;
  width: 24px;
}

/*ORDER PAGE*/


/*make the background green and the text white*/

#orderForm {
  color: white;
  background-color: #033500;
  font-size: 15px;
  padding-top: 15px;
}

/* button pink and big
text uppercase and overlined */

#submitButton {
  background-color: pink;
  color: black;
  text-transform: uppercase;
  font-size: 190%;
  text-decoration: overline;
  margin-top: 15px;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
}

/*made text thinner for style*/

#rate-the-site {
  text-transform: uppercase;
  font-weight: lighter;
  color: grey;
}

/*end of stylesheet*/
